<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
	<head>
		<title>Hello, Spring!</title>
	</head>
	<body>
		<form method= "post" action="/hello">
			<input type="text" name="name"></input>
			<br><button type="submit">Say hello!</button></br>
		</form>
		<form method= "post" action="/salut">
			<br></br><input type="text" name="name"></input>
			<br><button type="submit">Disez salut!</button></br>
		</form>
		<form method= "post" action="/hola">
			<br></br><input type="text" name="name"></input>
			<br><button type="submit">Dice hola!</button></br>
		</form>
	</body>
</html>